<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>EasyCompile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta property="og:site_name" content="EasyCompile" />
    <meta property="og:title" content="Home" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#28b950">
    <link href="https://fonts.googleapis.com/css?family=Asap:500,500italic,400,400italic,700,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/assets/main.css" />
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/viewfiles">Files</a>
        <a href="https://github.com/FAXES/easycompile">GitHub</a>
    </div>