<!-- EasyCompile - created by FAXES & Pluto -->
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>EasyCompile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta property="og:site_name" content="EasyCompile" />
		<meta property="og:title" content="Home" />
		<meta property="og:type" content="website" />
		<meta name="theme-color" content="#28b950">
		<link href="https://fonts.googleapis.com/css?family=Asap:500,500italic,400,400italic,700,700italic" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<form enctype="multipart/form-data" id="form01" method="post" action="/sendform" autocomplete="off" data-gramm="false">
						<div class="inner">
							<div class="field">
                                <input type="text" name="name" id="" maxlength="256" required="" placeholder="File name..." style="font-family: 'Asap', sans-serif; color: #ffffff;">
                            </div>
							<div class="field">
								<textarea name="content" id="" rows="10" placeholder="Place JavaScript code..."></textarea>
							</div>
							<div class="actions">
								<button type="submit">Create</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>