<!-- EasyCompile - created by FAXES & Pluto -->
<!-- This page was created by HypnoticSiege @ https://hypnoticsiege.net-->
<%- include('partials/header.ejs') %>
    <div id="wrapper" style="color: #fff">
        <div id="main">
            <div class="inner">
                <h1>Here are all your compiled files!</h1>
                <hr style="width: 50%;">
                <%= files %>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>